<!DOCTYPE html>
<html lang="es">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Predicción de abandono de servicios</title>
    <link
      href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/css/bootstrap.min.css"
      rel="stylesheet"
      integrity="sha384-QWTKZyjpPEjISv5WaRU9OFeRpok6YctnYmDr5pNlyT2bRjXh0JMhjY6hW+ALEwIH"
      crossorigin="anonymous"
    />
    <script
      src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.11.8/dist/umd/popper.min.js"
      integrity="sha384-I7E8VVD/ismYTF4hNIPjVp/Zjvgyol6VFvRkX/vR+Vc4jQkC+hVqc2pM8ODewa9r"
      crossorigin="anonymous"
    ></script>
    <script
      src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/js/bootstrap.min.js"
      integrity="sha384-0pUGZvbkm6XF6gxjEnlmuGrJXVbNuzT9qBBavbLwCsOGabYfZo0T0to5eqruptLy"
      crossorigin="anonymous"
    ></script>
  </head>
  <body>
    <div class="container mt-3">
      <h2>Predicción de precios para un auto usado</h2>
    </div>
    <div class="container">
      <div class="row">
        <div class="col-md-6">
          <form id="predictionForm">
            <div class="mb-3">
              <label for="Present_Price" class="form-label">Precio Actual En El Mercado</label>
              <input type="number" step="0.01" class="form-control" id="Present_Price" required>
            </div>
            <div class="mb-3">
              <label for="Age" class="form-label">Tiempo de salida, pero convertido</label>
              <input type="number" class="form-control" id="Age" required>
              <p>Esto de convertido se refiere a que debemos de transforma el año del modelo a cuanto tiempo tiene que salio. La fecha del dataset es 2019,  por ejemplo si el excel dice 2016 
                en Year debemos de colocar en tiempo de salida 3. Para el 2015 debemos colocar 4.
                Si quiere probar con 2010 ponga 9
              </p>
            </div>
            <div class="mb-3">
              <label for="Fuel_Type_Diesel" class="form-label">Tipo de Combustible (Diesel)</label>
              <select class="form-control" id="Fuel_Type_Diesel" required>
                <option value="1">Si</option>
                <option value="0">No</option>
              </select>
            </div>
            <div class="mb-3">
              <label for="Kms_Driven" class="form-label">Kilómetros Recorridos</label>
              <input type="number" class="form-control" id="Kms_Driven" required>
            </div>
            <button type="submit" class="btn btn-primary">Submit</button>
          </form>
        </div>
        <div class="col-md-6">
          <div class="container m-3">
            <h3>Para pruebas</h3>
            <img src="https://iebdlfthbbxohteapyua.supabase.co/storage/v1/object/public/LCDM/2.jpeg?t=2024-06-24T15%3A36%3A58.710Z" class="img-fluid" />
            <button class="btn btn-warning m-3" id="downloadExcelBtn" >Descarga el excel</button>
          </div>
        </div>
      </div>
      <div class="mt-3" id="predictionResult"></div>
    </div>
    
    <script>
      document.addEventListener('DOMContentLoaded', function() {
        document.getElementById('downloadExcelBtn').addEventListener('click', function() {
          // Crear un objeto de solicitud de archivo
          var xhr = new XMLHttpRequest();
          xhr.open('GET', 'https://raw.githubusercontent.com/JafetEsauWerlybi/dataset/main/car%20data.csv', true);
          xhr.responseType = 'blob';
    
          xhr.onload = function() {
            if (xhr.status === 200) {
              // Crear una URL de objeto para el blob
              var blob = xhr.response;
              var url = window.URL.createObjectURL(blob);
    
              // Crear un enlace de descarga
              var a = document.createElement('a');
              a.href = url;
              a.download = 'car_data.csv'; // Nombre del archivo a descargar
              document.body.appendChild(a);
              a.click();
    
              // Limpiar y liberar el objeto URL creado
              window.URL.revokeObjectURL(url);
              document.body.removeChild(a);
            }
          };
    
          xhr.send();
        });
      });
    </script>
    
    <script>
      document.getElementById('predictionForm').addEventListener('submit', async function(event) {
        event.preventDefault();
        const formData = {
          Present_Price: parseFloat(document.getElementById('Present_Price').value),
          Age: parseInt(document.getElementById('Age').value),
          Fuel_Type_Diesel: parseInt(document.getElementById('Fuel_Type_Diesel').value),
          Kms_Driven: parseInt(document.getElementById('Kms_Driven').value)
        };

        const response = await fetch('/predict', {
          method: 'POST',
          headers: {
            'Content-Type': 'application/json'
          },
          body: JSON.stringify(formData)
        });

        const result = await response.json();
        document.getElementById('predictionResult').innerText = `Predicción : ${result.prediction}`;
      });
    </script>
  </body>
</html>
